In [1]:
import pandas as pd
df = pd.read_csv('heart.csv')
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [3]:
df['Age'].describe()

count    918.000000
mean      53.510893
std        9.432617
min       28.000000
25%       47.000000
50%       54.000000
75%       60.000000
max       77.000000
Name: Age, dtype: float64

In [4]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [5]:
df['z_score'] = (df['Cholesterol'] - df['Cholesterol'].mean())/df['Cholesterol'].std()
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,z_score
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.824621
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,-0.171867
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.769768
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.138964
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,-0.034736
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,0.596068
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,-0.053020
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,-0.619830
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,0.340090
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,-0.217578

In [6]:
df1 = df[(df['z_score']<3) & (df['z_score']>-3)]
df1

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,z_score
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.824621
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,-0.171867
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.769768
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.138964
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,-0.034736
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,0.596068
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,-0.053020
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,-0.619830
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,0.340090
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,-0.217578

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [8]:
df1['Sex']=le.fit_transform(df1['Sex'])
df1['ChestPainType']=le.fit_transform(df1['ChestPainType'])
df1['RestingECG']=le.fit_transform(df1['RestingECG'])
df1['ExerciseAngina']=le.fit_transform(df1['ExerciseAngina'])
df1['ST_Slope']=le.fit_transform(df1['ST_Slope'])

C:\Users\Dell\AppData\Local\Temp\ipykernel_6416\3962691765.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Sex']=le.fit_transform(df1['Sex'])
C:\Users\Dell\AppData\Local\Temp\ipykernel_6416\3962691765.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['ChestPainType']=le.fit_transform(df1['ChestPainType'])
C:\Users\Dell\AppData\Local\Temp\ipykernel_6416\3962691765.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['RestingECG']=le.fit_transform(df1['RestingECG'])
C:\Users\Dell\AppData\Local\Temp\ipykernel_6416\3962691765.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['ExerciseAngina']=le.fit_transform(df1['ExerciseAngina'])
C:\Users\Dell\AppData\Local\Temp\ipykernel_6416\3962691765.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['ST_Slope']=le.fit_transform(df1['ST_Slope'])

In [9]:
df1

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,z_score
0,40,1,1,140,289,0,1,172,0,0.0,2,0,0.824621
1,49,0,2,160,180,0,1,156,0,1.0,1,1,-0.171867
2,37,1,1,130,283,0,2,98,0,0.0,2,0,0.769768
3,48,0,0,138,214,0,1,108,1,1.5,1,1,0.138964
4,54,1,2,150,195,0,1,122,0,0.0,2,0,-0.034736
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1,0.596068
914,68,1,0,144,193,1,1,141,0,3.4,1,1,-0.053020
915,57,1,0,130,131,0,1,115,1,1.2,1,1,-0.619830
916,57,0,1,130,236,0,0,174,0,0.0,1,1,0.340090
917,38,1,2,138,175,0,1,173,0,0.0,2,0,-0.217578

In [11]:
x = df1.drop(['z_score','HeartDisease'],axis='columns')
x

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,1,1,140,289,0,1,172,0,0.0,2
1,49,0,2,160,180,0,1,156,0,1.0,1
2,37,1,1,130,283,0,2,98,0,0.0,2
3,48,0,0,138,214,0,1,108,1,1.5,1
4,54,1,2,150,195,0,1,122,0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1
914,68,1,0,144,193,1,1,141,0,3.4,1
915,57,1,0,130,131,0,1,115,1,1.2,1
916,57,0,1,130,236,0,0,174,0,0.0,1
917,38,1,2,138,175,0,1,173,0,0.0,2

In [19]:
y = df1.HeartDisease
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 915, dtype: int64

In [14]:
from sklearn.preprocessing import StandardScaler
scaler =StandardScaler()
x_scaled = scaler.fit_transform(x)
x_scaled

array([[-1.43736051,  0.5153253 ,  0.2286349 , ..., -0.82395333,
        -0.8316562 ,  1.04905332],
       [-0.4804758 , -1.94052184,  1.27463954, ..., -0.82395333,
         0.10549334, -0.59740258],
       [-1.75632207,  0.5153253 ,  0.2286349 , ..., -0.82395333,
        -0.8316562 ,  1.04905332],
       ...,
       [ 0.37008838,  0.5153253 , -0.81736975, ...,  1.21366098,
         0.29292324, -0.59740258],
       [ 0.37008838, -1.94052184,  0.2286349 , ..., -0.82395333,
        -0.8316562 , -0.59740258],
       [-1.65000155,  0.5153253 ,  1.27463954, ..., -0.82395333,
        -0.8316562 ,  1.04905332]])

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [21]:
cross_val_score(LogisticRegression(),x_scaled,y).mean()

0.8065573770491804

In [22]:
cross_val_score(DecisionTreeClassifier(),x_scaled,y).mean()

0.7475409836065574

In [23]:
cross_val_score(SVC(),x_scaled,y).mean()

0.8262295081967214

In [24]:
cross_val_score(RandomForestClassifier(),x_scaled,y).mean()

0.8262295081967214

In [31]:
from sklearn.decomposition import PCA
pca = PCA(0.95)
x_pca = pca.fit_transform(x_scaled)
x_pca

array([[-2.27000258, -0.20744912, -0.43730152, ...,  0.04184189,
         0.02820134,  0.26485022],
       [-1.13956384, -1.09022123,  1.41171856, ...,  1.56063779,
        -0.20361868,  0.67873238],
       [-1.11271048,  1.10726843, -0.83699337, ..., -0.69632989,
        -0.90096319,  1.2331539 ],
       ...,
       [ 1.66440407,  0.08077322, -0.89172782, ...,  0.39367815,
        -0.07095525, -0.3225303 ],
       [-1.70009705, -1.39699019,  0.62867234, ...,  0.64323934,
         0.17763618,  0.19359532],
       [-2.50010732,  0.45950789, -0.11299113, ...,  0.77830455,
        -0.24337898, -0.04996178]])

In [32]:
cross_val_score(LogisticRegression(),x_pca,y).mean()

0.8087431693989071

In [33]:
cross_val_score(DecisionTreeClassifier(),x_pca,y).mean()

0.7420765027322405

In [34]:
cross_val_score(DecisionTreeClassifier(),x_pca,y).mean()

0.7540983606557377

In [35]:
cross_val_score(RandomForestClassifier(),x_pca,y).mean()

0.8120218579234972