In [1]:
# When we have data it's a good practise to test it using the data itself.

'''*WONDER8*

WE WILL TRAIN MODEL WITH 80% OF THE DATA AN DREST 20% DATA WILL BE USED FOR TESTING

'''

'*WONDER8*\n\nWE WILL TRAIN MODEL WITH 80% OF THE DATA AN DREST 20% DATA WILL BE USED FOR TESTING\n\n'

In [8]:
import numpy as np
import pandas as pd

In [5]:
from sklearn.model_selection import train_test_split

In [9]:
data = pd.read_csv("carprices.csv")
data

    Mileage  Age(yrs)  Sell Price($)
0     69000         6          18000
1     35000         3          34000
2     57000         5          26100
3     22500         2          40000
4     46000         4          31500
5     59000         5          26750
6     52000         5          32000
7     72000         6          19300
8     91000         8          12000
9     67000         6          22000
10    83000         7          18700
11    79000         7          19500
12    59000         5          26000
13    58780         4          27500
14    82450         7          19400
15    25400         3          35000
16    28000         2          35500
17    69000         5          19700
18    87600         8          12800
19    52000         5          28200

In [12]:
x = data[['Mileage','Age(yrs)']]
x

    Mileage  Age(yrs)
0     69000         6
1     35000         3
2     57000         5
3     22500         2
4     46000         4
5     59000         5
6     52000         5
7     72000         6
8     91000         8
9     67000         6
10    83000         7
11    79000         7
12    59000         5
13    58780         4
14    82450         7
15    25400         3
16    28000         2
17    69000         5
18    87600         8
19    52000         5

In [15]:
y = data['Sell Price($)']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     26750
6     32000
7     19300
8     12000
9     22000
10    18700
11    19500
12    26000
13    27500
14    19400
15    35000
16    35500
17    19700
18    12800
19    28200
Name: Sell Price($), dtype: int64

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)
#only random_state = None gives different output every time. by default it is None

In [34]:
x_train

    Mileage  Age(yrs)
10    83000         7
17    69000         5
6     52000         5
13    58780         4
4     46000         4
2     57000         5
5     59000         5
14    82450         7
9     67000         6
7     72000         6
16    28000         2
11    79000         7
3     22500         2
0     69000         6
15    25400         3
12    59000         5

In [35]:
y_train

10    18700
17    19700
6     32000
13    27500
4     31500
2     26100
5     26750
14    19400
9     22000
7     19300
16    35500
11    19500
3     40000
0     18000
15    35000
12    26000
Name: Sell Price($), dtype: int64

In [37]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model

LinearRegression()

In [40]:
model.fit(x_train,y_train)

LinearRegression()

In [41]:
model.predict(x_test)

array([15968.88975121, 34057.45077682, 28308.037565  , 14718.28626739])

In [42]:
y_test

18    12800
1     34000
19    28200
8     12000
Name: Sell Price($), dtype: int64

In [43]:
model.score(x_test,y_test)

0.9524414164762769