In [2]:
import pandas as pd
import numpy as np

In [25]:
x = ['a','b','c','d','e']
x1 = ['a','b','c','d','f']
y = [1,2,3,4,5]
z = {9:'a',2:'b',3:'c',4:'d',5:'e'}

In [9]:
a=pd.Series(data=x,index=y)
a

1    a
2    b
3    c
4    d
5    e
dtype: object

In [10]:
type(a)

pandas.core.series.Series

In [12]:
pd.Series(z)

9    a
2    b
3    c
4    d
5    e
dtype: object

In [26]:
a = pd.Series(y,x)
b = pd.Series(y,x)
c = pd.Series(y,x1) 
print(a+b)
print("-----------------------")
print(a+c)

a     2
b     4
c     6
d     8
e    10
dtype: int64
-----------------------
a    2.0
b    4.0
c    6.0
d    8.0
e    NaN
f    NaN
dtype: float64

In [27]:
a['c':]

c    3
d    4
e    5
dtype: int64

In [28]:
A = [1,2,3,4]
B = [5,6,7,8]
C = [9,0,1,2]
D = [3,4,5,6]
E = [7,8,9,0]

In [32]:
df = pd.DataFrame((A,B,C,D,E),['a','b','c','d','e'],['W','X','Y','Z'])
df

   W  X  Y  Z
a  1  2  3  4
b  5  6  7  8
c  9  0  1  2
d  3  4  5  6
e  7  8  9  0