In [1]:
import pandas as pd
df = pd.read_csv('height_weight.csv')
df

      gender     height      weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [2]:
iq1 , iq3 = df['height'].quantile([0.25,0.75])
iq1,iq3

(63.505620481218955, 69.1742617268347)

In [3]:
iqr = iq3-iq1
iq3

69.1742617268347

In [4]:
low,upp = iq1-1.5*iqr , iq3+1.5*iqr
low,upp

(55.00265861279534, 77.67722359525831)

In [5]:
df[(df['height']<low) | (df['height']>upp)]

      gender     height      weight
994     Male  78.095867  255.690835
1317    Male  78.462053  227.342565
2014    Male  78.998742  269.989699
3285    Male  78.528210  253.889004
3757    Male  78.621374  245.733783
6624  Female  54.616858   71.393749
7294  Female  54.873728   78.606670
9285  Female  54.263133   64.700127

In [6]:
iq1 , iq3 = df['weight'].quantile([0.25,0.75])
iq1,iq3

(135.8180513055015, 187.16952486868348)

In [7]:
iqr = iq3-iq1
iq3

187.16952486868348

In [8]:
low,upp = iq1-1.5*iqr , iq3+1.5*iqr
low,upp

(58.79084096072856, 264.19673521345646)

In [9]:
df[(df['weight']<low) | (df['weight']>upp)]

     gender     height      weight
2014   Male  78.998742  269.989699