In [1]:
import pandas as pd

In [2]:
data = ['Delhi','Noida','Ghaziabad','Delhi','Noida','Ghaziabad','Delhi','Noida','Delhi']

In [8]:
df = pd.DataFrame(data,index=['a','b','c','d','e','f','g','h','i'],columns=['City'])
df

        City
a      Delhi
b      Noida
c  Ghaziabad
d      Delhi
e      Noida
f  Ghaziabad
g      Delhi
h      Noida
i      Delhi

In [9]:
df[df['City']=='Delhi']

    City
a  Delhi
d  Delhi
g  Delhi
i  Delhi